<div class="event-list-grid">
  <table class="event-list-table">
    <caption>Event List</caption>
    <tr>
        <th>Event Name</th>
        <th>Start Time</th>
        <th>Seats</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let event of events" class="event-card">
        <td>{{ event.name }}</td>
        <td>{{ event.startTime }}</td>
        <td>{{ event.seats }}</td>
        <td>
          <button (click)="openBookingDetails(event)">Book seat</button>
        </td>
    </tr>
    <tr>
      <td colspan="4" style="text-align:right;">
        <button (click)="goToAddEvent()">Add Event</button>
      </td>
    </tr>
  </table>
</div>
<app-booking-details *ngIf="selectedEventId" [eventId]="selectedEventId" (close)="selectedEventId = null"></app-booking-details>

<app-add-event *ngIf="isLoggedOn"></app-add-event>
