<div class="booking-details">
  <h2>Booking Details for Event</h2>
  <div class="actions">
    <button (click)="notifyParentToReset()">Back to event list</button>
  </div>
  <div *ngIf="booking">
    <div>
      <strong>ID:</strong> {{ booking.event.id }}<br />
      <strong>Name:</strong> {{ booking.event.name }}<br />
      <strong>Date:</strong> {{ booking.event.startTime }}<br />
    </div>
    <h3>Registered Customers</h3>
    <ul>
      <li *ngFor="let customer of booking.customers">
        {{ customer.id }} - {{ customer.firstName }} {{ customer.lastName }} ({{ customer.email }})
      </li>
    </ul>
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
</div>


